<!DOCTYPE html>
<html lang="en">
  <head>
    <title>arch-startpage.appspot.com</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="static/screen.css">
    <script type="text/javascript" src="static/keyboard.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7132219-8']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body>
    <div id="arch-logo">
      <img src="static/archlinux-logo-light-90dpi.png " id="arch-logo"
      alt="arch logo">
    </div>
    <form name="search-form" method="get"> 
      <div id="search-engines">
        {% for search_engine in search_engines %}
          {{ search_engine }}
        {% endfor %}
      </div>
      <div id="input-box">
        <input type="text" id="search-text" name="search-text" size="40"
        autofocus>
        <input type="submit" value="Search" id="search-button">
        <!-- For BBS search -->
        <input name="action" value="search" type="hidden">
      </div>
    </form>
    {% if news_items %}
      <div id="news">
        {% for news_item in news_items %}
          {{ news_item }}
        {% endfor %}
      </div>
    {% endif %}
  </body>
</html>
